.justify-center
  justify-content: center

.flex-center
  display: flex
  align: center

.justify-around
  justify-content: space-around

.margin-top-1rem
  margin-top: 1rem

.margin-top-half-rem
  margin-top: .5rem

.margin-left-half-rem
  margin-left: .5rem

.margin-right-half-rem
  margin-right: .5rem
