html
  max-width: 100%

body
  font-family: $lato
  color: $ink
  width: 100%

header
  font-family: $dosis
  display: flex
  justify-content: space-between
  flex-flow: row wrap
  section
    width: 33%
    display: flex
    justify-content: center
    align-items: center

main
  display: flex
  justify-content: center
