//buttons
.btn
  text-transform: uppercase
  padding: .25rem .5rem
  transition: background-color .3s,border-color .3s
  &-square
    border: .2rem $ink solid
    &:hover
      background: $ink
      color: $white
  &.blue
    border-color: $blue
    background: $blue
    color: $white
    &:hover
      background: lighten($blue, 25%)
  &.red
    border-color: $red
    background: $red
    color: $white
    &:hover
      background: lighten($red, 5%)

//mailbox

.mailbox
  width: 70%
  border: .1rem $grey solid
  background: lighten($light-grey, 20%)
  ul
    width: 100%
    li
      & > button, div
        display: flex
      & > button
        width: 100%
        justify-content: space-between
        align-items: center
        padding: 1rem
        &:hover
          background: $light-grey

.mailbox-header
  margin: 0 auto
  display: flex
  height: 2.5rem
  button
    width: 50%
    color: $white
    border-bottom: .1rem $grey solid
    background: $light-grey
    &:first-child
      border-right: .1rem $grey solid
    &.active, &:hover
      background: $grey






//typography
.logo
  text-shadow: 1px 0 0 $blue, 2px 0 0 $red, 3px 0 0 $red
  margin-left: 33%

//forms

.auth-form
  width: 40vw
  padding: 1rem
  border: .2rem $ink solid

//listing tiles
.listing-tile
  padding: .5rem
  background: $white
  border: .2rem $ink solid
  width: calc( 25% - 2.4rem )
  margin: .5rem
  box-shadow: 1px 1px $blue, 2px 2px $grey, 3px 3px $grey, 4px 4px $grey, 5px 5px $grey
  &:hover
    animation: fire-walk linear 1s
    box-shadow: 1px 1px $blue, 2px 2px $grey, 3px 3px $grey, 4px 4px $grey, 5px 5px $red
  h4
    font-size: 1.15rem
  div
    display: flex
    justify-content: space-between


//loading spinner
.loading
  margin: 0 auto
  margin-top: 1.25rem
  border: .35rem solid $grey
  border-top-color: $ink
  border-radius: 50%
  width: 3rem
  height: 3rem
  animation: spin 2s linear infinite
