//buttons
.btn
  text-transform: uppercase
  padding: .25rem .5rem
  transition: background-color .3s,border-color .3s
  &-square
    border: .2rem $ink solid
    &:hover
      background: $ink
      color: $white
  &.blue
    border-color: $blue
    background: $blue
    color: $white
    &:hover
      background: lighten($blue, 25%)
  &.red
    border-color: $red
    background: $red
    color: $white
    &:hover
      background: lighten($red, 5%)

//mailbox

.mailbox
  width: 70%
  background: $white
  > ul
    width: 100%
    .conversation
      cursor: pointer
      margin: 1rem auto
      border: 1px solid $ink
      box-shadow: 1px 1px 3px $grey, 2px 2px $grey
      &.active
        background: darken($white, 10%)
      & > div, div[role="button"]
        display: flex
      & > div
        justify-content: space-between
        align-items: center
        padding: 1rem
        &:hover
          background: darken($white, 10%)
          box-shadow: 2px 2px 3px $red, 3px 3px 2px $brown
  .messages
    cursor: text
    border-color: $blue
    background: $white
    li
      display: flex
      align-items: center
      justify-content: space-between
      padding: 1rem
      border-top: .1rem solid
      span
        text-transform: capitalize

.mailbox-header
  margin: 0 auto
  display: flex
  height: 2.5rem
  border: 1px $ink solid
  justify-content: flex-end
  box-shadow: 1px 1px 3px $grey, 2px 2px $grey
  button
    width: 50%
    color: $ink
    background: $white
    &:first-child
      border-right: .1rem $ink solid
    &.active, &:hover
      background: darken($white, 10%)






//typography
.logo
  color: $ink
  text-shadow: 1px 0 0 $grey, 2px 0 0 $red, 3px 0 0 $red
  margin-left: 33%
  transition: text-shadow ease .5s
  &:hover
    text-shadow: -1px 0 1px $grey, 1px 0 2px $red, 3px 0 0 $red

//forms

.auth-form
  width: 40vw
  padding: 1rem
  border: .2rem $ink solid

//listing tiles
.listing-tile
  padding: .5rem
  background: $white
  border: .2rem $ink solid
  width: calc( 25% - 2.4rem )
  min-height: 4rem
  margin: .5rem
  box-shadow: 1px 1px $blue, 2px 2px $grey, 3px 3px $grey, 4px 4px $grey, 5px 5px $grey
  &:hover
    animation: fire-walk linear 1s
    box-shadow: 1px 1px $blue, 2px 2px $grey, 3px 3px $grey, 4px 4px $grey, 5px 5px $red
  h4
    font-size: 1.15rem
  div
    display: flex
    justify-content: space-between

//listing
.listing
  border: .1rem $ink solid
  box-shadow: 1px 1px $blue, 2px 2px $grey, 3px 3px $grey, 4px 4px $grey, 5px 5px $red
  padding: 2rem
  width: 320px
  .listing-buttons
    display: flex
    flex-direction: column
    button
      margin-bottom: 1rem

//loading spinner
.loading
  margin: 0 auto
  margin-top: 1.25rem
  border: .35rem solid $grey
  border-top-color: $ink
  border-radius: 50%
  width: 3rem
  height: 3rem
  animation: spin 2s linear infinite

//message modal
.message-modal
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  background-color: rgba(0, 0, 0, 0.65)
  z-index: 15
  text-align: center
  section
    border: .2rem $ink solid
    z-index: 16
    position: absolute
    top: 1rem
    background: $white
    width: 320px
    min-height: 230px
    left: calc(50vw - 160px)
    display: flex
    flex-direction: column
    > button
      align-self: flex-end
    .form-group
      text-align: left
      margin: .5rem
      display: block
